
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Conteneur du formulaire */
form {
    background: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
}

/* Titre */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    margin-right:20px
}

/* Label */
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}

/* Input */
input[type="number"], 
input[type="text"], 
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Bouton */
button {
    width: 100%;
    background-color:#007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}

/* Titre des tâches */
#backlog-tasks h3 {
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Champ de tâches supplémentaire */
#backlog-tasks label {
    margin-top: 10px;
}

