<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <title>Partie - {{ partie.code }}</title>

</head>
<body>
    <h1>Partie {{ partie.code }}</h1>

    <h2>Tâche actuelle :</h2>
    <p>{{ tache_actuelle }}</p> 

    <h3>Votes :</h3>
    <form method="POST">
        {% csrf_token %}
        
        <label for="pseudo">Votre pseudo :</label>
        <select id="pseudo" name="pseudo" required>
            {% for joueur in partie.joueurs.all %}
                <option value="{{ joueur.pseudo }}">{{ joueur.pseudo }}</option>
            {% endfor %}
        </select><br>
        
        <h3>Votes :</h3>
        <div class="vote-cards">
            <!-- Loop through the card_values passed from the view -->
            {% for i in card_values %}
                <div class="vote-card">
                    <input type="radio" id="vote_{{ i }}" name="vote" value="{{ i }}" required>
                    <label for="vote_{{ i }}">
                        <img src="{% static 'cartes/carte_{{ i }}.svg' %}" alt="Carte {{ i }}">
                    </label>
                </div>
            {% endfor %}
            <div class="vote-card">
                <input type="radio" id="vote_cafe" name="vote" value="Café" required>
                <label for="vote_cafe">
                    <img src="{% static 'cartes/cartecafe.svg' %}" alt="Carte Café">
                </label>
            </div>
            <div class="vote-card">
                <input type="radio" id="vote_question" name="vote" value="?" required>
                <label for="vote_question">
                    <img src="{% static 'cartes/cartes_interro.svg' %}" alt="Carte ?">
                </label>
            </div>
        </div><br>
    
        <button type="submit">Voter</button>
    </form>

    <h3>État actuel du backlog :</h3>
    <ul>
        {% for task, value in partie.etat_avancement.items %}
            <li>Tâche {{ task }} : {{ value }}</li>
        {% endfor %}
    </ul>

    {% if partie.active_task == partie.backlog|length %}
        <p>Le backlog est terminé !</p>
    {% endif %}
</body>
</html>
